* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
  border: solid;
  width: 100%;
  padding-left: 2px;
  background-color: #dbdada;
  text-align: center;
}
.videoContainer
{
  position:absolute;
  height:100%;
  width:100%;
  overflow: hidden;
}
.videoContainer video
{
  max-width: 98%;
  max-height: 98%;
}
